.list-item {
  border: 2px solid rgba(200, 200, 200, 0.471);
  margin-bottom: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
}

/* .question-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
} */

.open-close-btn {
  height: 40px;
  width: 40px;
  background-color: rgb(41, 79, 137);
  border: none;
  color: white;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
  font-size: 24px;
}

h3 {
  margin: 12px 0;
  font-weight: 500;
}

.question-info {
  color: gray;
  line-height: 2;
  padding: 0 16px;
  margin: 8px 0;
}
